/*******************************
*Author: Angelika G.
*Date: 25.03.2022
*My first website
********************************/
body {
    font-family: playfair, serif;
    font-size: 12px;
    font-weight: lighter;
    color: #3B2A1D;
    background-color: #FFF1D4;
}

#main-navigation{
    padding: 10px;
    background-color: brown;
}

#main-navigation ul{
    text-align: right;
    list-style-type: none;
    margin: 10px;

    }

#main-navigation li{
    display: inline-block;
    margin-left: 20px;

}

#main-navigation a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;

}