/*******************************
*Author: Angelika G.
*Date: 25.03.2022
*My first website
********************************/
body {
    font-family: playfair, serif;
    font-size: 12px;
    font-weight: lighter;
    color: #3B2A1D;
    text-decoration: none;
    background-color: #FFF1D4;
}

#main-navigation{
    display:inline-block;
    padding: 10px;
    background-color: brown;

}